@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import 'additional/reset';

.list-group__head
{
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0,0,0,0.125);
	display: flex;
	justify-content: space-between;
	margin-bottom: -1px;
	padding: 0.75rem 1.25rem 0.75rem 0;
	position: relative;
}
.list-group__head .input-group
{
	padding-left: 35px;
}
.list-group__subgroup .list-group__head
{
	margin-left: 30px;
}
.btn-group
{
	opacity: 0;
	transition: 0.2s;
}
.btn-group__save {
	display: none;
}

.btn-group__edit, .btn-group__complete, .btn-group__move, .btn-group__save
{
	background: none;
	border: none;
	outline: none;
}
.btn-group__complete, .btn-group__move
{
	padding: 0 10px;
}
.list-group__head:hover .btn-group
{
	opacity: 1;
}
.list-group--completed
{
	background-color: #C6C8CA;
	color: #1B1E21;
	padding-left: 35px;
	text-decoration: line-through;
}
.list-group__head:hover,
.list-group__head:hover .list-group__name
{
	background-color: #F8F9FA;
	color: #495057;
	cursor: pointer;
	text-decoration: none;
}
.list-group__head:active,
.list-group__head:active .list-group__name
{
	background-color: #E9ECEF;
	color: #212529;
}
.link-group
{
	margin-top: 20px;
}
.list-group__move
{
	display: flex;
	height: 24px;
	width: 24px;
}
.list-group__title
{
	align-items: baseline;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.list-group__name {
	width: 100%;
	border: 1px solid transparent;
	outline: none;
}
.list-group--edit .list-group__name{
	margin-left: 20px;
	padding-left: 15px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: #fff!important;
}
.list-group--edit .btn-group__save {
	display: inline-block;
	margin-left: 10px;
}
.list-group--edit .btn-group__move,
.list-group--edit .btn-group__edit,
.list-group--edit .close{
	display: none;
}
.list-group--edit .btn-group {
	opacity: 1;
}
.link-group__item
{
	margin: 0 10px 0 0;
	&:last-child
	{
		margin: 0;
	}
}
.list-group__empty
{
	padding: 7px 0;
}

.card
{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content__container
{
	margin: 20px auto;
}

.userGreeter
{
	margin: 20px 0;
	text-align: center;
}
